## 1.Importing the necessary libraries

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from sklearn.linear_model import LogisticRegression

## 2.Import the data

In [2]:
dataset = pd.read_csv('iris.csv')

In [3]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
final_dataset=dataset.drop('Id',axis=1)
final_dataset.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [16]:
y=final_dataset["Species"]

In [18]:
X=final_dataset.drop("Species",axis=1)

In [21]:
clf = LogisticRegression(random_state=0, solver='lbfgs',
                      multi_class='multinomial').fit(X, y)

In [23]:
# Saving model to disk
pickle.dump(clf, open('model.pkl','wb'))

In [26]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[5,8,3,4]]))

['Iris-setosa']